.main {
  background-color: #5b95b3;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 170px;

  &__stars {
    position: absolute;
    top: 158px;
    left: -112px;
    z-index: 1;
  }

}

.advantages {
  width: 30%;
  padding: 145px 26px 0 0;

  &__info {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    display: flex;
    margin-bottom: 30px;
  }

  &__image {
    margin-right: 22px;
  }

  &__text {
    position: relative;
    margin: 31px 0 5px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -10px;
      width: 67px;
      height: 5px;
      background-color: #abffb8;
    }
  }
}

@media screen and (max-width: 1550px) {
  .main__content {
    width: 34%;
  }
}

@media screen and (max-width: 1300px) {
  .main__content {
    width: 41%;
  }
}

@media screen and (max-width: 1100px) {
  .main {
    padding-bottom: 100px;

    &__content {
      width: 47%;
    }
  }

}

@media screen and (max-width: 1000px) {
  .main__content {
    padding: 48px 19% 0;
    width: auto;
  }

  .main__stars {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .main {
    padding-bottom: 50px;

    &__content {
      padding: 0 10%;
    }
  }
}

@media screen and (max-width: 500px) {
  .main__content {
    padding: 0 5%;
  }
  .advantages {
    &__info {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 16px;
    }

    &__img {
      width: 85px;
      height: 85px;
    }

    &__text {
      margin: 23px 0 7px;
    }
  }
}
