@import "./header.scss";
@import "./main-content.scss";
@import "./form.scss";
@import "./thankyou-page.scss";

body {
  background: #eee;
  margin: 0;
  padding: 0;
}

.thankyou-page {
  display: none;
}
